/* -------------------------------------------------------------------------- */
/*                               Mobile Nav Menu                              */

.header__content {
	pointer-events: none;
	padding: 0 var(--unit) calc(var(--unit-B) + var(--unit-E));
}

.toggle--menu::after {
	background: var(--bg-glass);
	opacity: 0;
	transition: opacity 300ms var(--ease-curve-B);
	pointer-events: none;
}

.toggle--menu::after {
	background: var(--bg-glass);
	opacity: 0;
	transition: opacity 300ms var(--ease-curve-B);
	pointer-events: none;
}

.toggle--menu:checked::after {
	opacity: 1;
	pointer-events: all;
}

.content__wrapper,
.nav__wrapper {
	gap: var(--unit-F);
}

.theme__input::before {
	content: "🌙 ";
	margin-block-start: 0.15rem;
	margin-inline-end: 0.25rem;
}

.nav__item {
	pointer-events: all;
	color: var(--background-color);
	background: var(--fg-glass);
	border: var(--border-width) solid var(--fg-glass);
	border-radius: var(--unit-F);
	backdrop-filter: blur(var(--blur-strength));
	opacity: 0;
	transition: all 750ms var(--ease-curve-A);
	transform: translateY(1em);
}

.nav__link {
	pointer-events: none;
	padding: 1rem var(--unit) 0.85rem var(--unit);
	letter-spacing: 0.025em;
	text-transform: uppercase;
	text-decoration: none;
	text-underline-offset: 0.5rem;
	text-decoration-thickness: var(--border-width);
	color: var(--background-color);
}

/* -------------------------------------- */
/*         Navigation Menu Toggle         */

.toggle--menu {
	pointer-events: none;
	visibility: none;
	all: unset;
	overflow: hidden;
}

.toggle--menu--label {
	pointer-events: all;
	inset-block-end: -4.5rem;
	inset-inline-end: 50%;
	transform: translateX(50%);
	cursor: pointer;
	background: var(--bg-glass);
	width: var(--unit-A);
	height: var(--unit-A);
	border-radius: 50%;
	border: var(--border-width) solid var(--bg-glass);
	backdrop-filter: blur(var(--blur-strength));
	filter: drop-shadow(0px 4px 10px rgba(121, 121, 121, 0.35));
	transition: all 750ms var(--ease-curve-B);
}

.toggle--menu--label::before,
.toggle--menu--label::after {
	text-transform: uppercase;
	text-align: center;
	padding-top: calc(var(--unit-F) * 1.7);
}

.toggle--menu--label::before {
	content: "Menu";
	color: var(--foreground-color);
}

.toggle--menu--label::after {
	content: "✖";
	font-size: 1.4em;
	color: var(--background-color);
	opacity: 0;
	padding-top: calc(var(--unit-F) * 1.125);
}

.toggle--menu:checked ~ .content__wrapper ~ .toggle--menu--label {
	border-color: var(--fg-glass);
	background-color: var(--fg-glass);
	inset-block-end: var(--unit);
	width: var(--unit-C);
	height: var(--unit-C);
}

.toggle--menu:checked ~ .content__wrapper ~ .toggle--menu--label::before {
	opacity: 0;
}

.toggle--menu:checked ~ .content__wrapper ~ .toggle--menu--label::after {
	opacity: 1;
}

.toggle--menu ~ .content__wrapper .nav__item {
	pointer-events: none;
}

.toggle--menu:checked ~ .content__wrapper .nav__link {
	pointer-events: all;
}

.toggle--menu:checked ~ .content__wrapper .nav__item {
	transform: translateY(0em);
	opacity: 1;
	pointer-events: unset;
}

/* -------------------------------------- */
/*              Theme Toggle              */

.toggle--theme--label {
	pointer-events: all;
	cursor: pointer;
	margin-inline-start: auto;
	padding: 3px 4px;
	height: 1.75rem;
	width: 3rem;
	border: 2px solid var(--foreground-color);
	border-radius: 2rem;
}

.toggle--theme--label::after {
	aspect-ratio: 1;
	border-radius: 2rem;
	background-color: var(--foreground-color);
	width: 50%;
	aspect-ratio: 1;
	transition: all 300ms var(--ease-curve-B);
}

.toggle--theme[type="checkbox"]:checked + .toggle--theme--label::after {
	transform: translateX(100%);
}

.nav__item .coming-soon,
.list-item .coming-soon {
	/* this isn't typical of me, trying to get this site deployed! */
	pointer-events: none !important;
	position: relative;
}

.nav__link.coming-soon::after,
.link.coming-soon::after {
	border: none;
}
//*footer*//
.list-wrapper {
	display: inline-block;
}
.link {
	position: relative;
}
.list-item {
	width: fit-content;
	margin-block-start: 0.125em;
	overflow: clip;
}

/**TODO-place correctly v**/

.coming-soon::before {
	pointer-events: none;
	content: "Coming Soon";
	display: block;
	position: absolute;
	width: 100%;
	background-color: var(--fg-glass);
	border-radius: var(--border-radius);
	color: var(--background-color);
	font-size: 0.75em;
	outline: 1px solid var(--bg-glass);
	text-align: center;
	backdrop-filter: blur(var(--blur-strength));

	top: 0.1em;
	rotate: -3.25deg;
	padding: 0 0.25em;
}

.header .coming-soon::before {
	pointer-events: none;
	content: "Coming Soon";
	display: block;
	position: absolute;
	top: 0em;
	width: 100%;
	background-color: var(--fg-glass);
	border-radius: var(--border-radius);
	color: var(--background-color);
	font-size: 0.75em;
	outline: 1px solid var(--bg-glass);
	text-align: center;
	backdrop-filter: blur(var(--blur-strength));

	left: 0;
	padding: 0.5em 0.25em;
	rotate: 1.25deg;
	translate: 0 1em;
}

.footer .coming-soon::before {
	rotate: 1deg;
}

@keyframes underline {
	0% {
		margin-left: -110%;
		// opacity: 0;
	}
	25% {
		// opacity: 1;
	}
	50% {
		margin-left: 0%;
	}
	75% {
		// opacity: 1;
	}
	100% {
		margin-left: 220%;
		// opacity: 0;
	}
}
/**TODO clean this up too**/
.footer .link {
	text-decoration: none;
}
.footer .link::after {
	content: "";
	display: block;
	width: 110%;
	height: 0;
	// opacity: 0;
	border-top: var(--border-width) solid var(--foreground-color);
	margin-block-start: 0.125em;
	background-color: var(--foreground-color);
}
.footer .link:hover::after {
	animation: underline 1.5s ease-in-out infinite;
}

/*                                                                            */
/* -------------------------------------------------------------------------- */
