.p__carousel {
	width: 100%;
	display: flex;
	// gap: var(--unit-B);
	width: fit-content;
}

.crs_child {
	flex-shrink: 0;
	padding-inline-end: var(--unit-B);
}

.email-child {
	width: min(420px, 100%);
}

.webpage-child {


	max-width: max(22ch, 80vw);
}

.section--carousel {
	padding-block-start: calc(1 * var(--unit-A));
}

.section--carousel .intro-copy {
	width: min(40ch, 100%);
	margin-bottom: var(--unit-E);
}

.section--carousel .intro-copy {
	padding-inline: var(--unit-D);
}

.p__carousel {
	padding-inline: var(--unit-D) var(--unit-B);
}

.crs__title {
	margin-bottom: .5em;
}

.crs__item,
.crs-image-wrapper {
	flex-shrink: 0;
}

.crs-image-wrapper {
	transition: all 300ms var(--ease-curve-C);
}

.webpage-child,
.webpage-child .crs-image-wrapper,
.webpage-child .crs-image-wrapper:hover {
	position: relative;
	contain: layout;
}

.crs-image-wrapper::before,
.crs-child::before {
	content: 'View live site \2197';
	color: var(--background-color);
	background: var(--foreground-color);
	display: block;
	width: max-content;
	padding: .5em .9em .5em 1.1em;
	border-radius: var(--border-radius);
	font-size: var(--fsz-D);
	margin-bottom: var(--unit-E);
	margin-inline: auto;
	// position: absolute;
	// z-index: 999;
	// left: 50%;
	// top: 50%;
	// transform: scale(100%) translate(-50%, -50%);

	opacity: 0;
	transition: all 300ms var(--ease-curve-B);
}

.crs-image-wrapper:hover {
	transform: scale(97%);
}

.crs-image-wrapper:hover::before,
.crs-child:hover::before {
	opacity: 1;
}

.crs-image-wrapper::after {
	content: '';
	background: var(--background-color);
	display: block;
	height: 100%;
	width: 100%;
	border-radius: var(--border-radius);

	position: absolute;
	z-index: 998;
	top: 0;
	left: 0;

	opacity: 0;
	transition: all 300ms var(--ease-curve-B);
}

.crs-image-wrapper:hover::after {
	opacity: .7;
}

.crs__item {
	max-height: 60vh;
}

@media (max-width: 700px) {
	.webpage-child {
		max-width: max(22ch, 97vw);
	}


	.crs_child {
		padding-inline-end: var(--unit-D);
	}

	.crs-image-wrapper::before,
	.crs-child::before {
		opacity: 1;
	}
}