*,
*::before,
*::after,
.svg-tspan {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: unset;
	font-size: var(--fsz-root);
	font-family: var(--secondary-type-B);
	font-weight: 400;
	font-kerning: normal;
	scroll-behavior: smooth;
}

p,
a {
	color: inherit;
}

a:not(.header, .footer) {
	text-underline-offset: 0.25em;
}

p a:is(:hover, :focus, :active) {
	background: var(--foreground-color);
	color: var(--background-color);
}

ol,
ul,
menu {
	list-style: none;
}

img,
.svg-tspan {
	display: block;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
	text-align: center;
	font-style: italic;
	background: var(--_placeholder);
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: .5rem;
}

fieldset {
	border: none;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* remove default dot (•) sign */
::marker {
	content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}