/* -------------------------------------------------------------------------- */
/*                                                                            */
/*                                                                            */
/*                                 UTILITIES                                  */
/*                                                                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */

@mixin typelvl($letter) {
	font-family: var(--ff-#{$letter});
	font-size: var(--fsz-#{$letter});
	font-stretch: var(--fst-#{$letter});
	font-weight: var(--fw-#{$letter});
	letter-spacing: var(--ls-#{$letter});
	line-height: var(--lh-#{$letter});
}

@mixin typelvlOverline {
	font-family: var(--ff-A);
	font-size: var(--fsz-root);
	font-stretch: var(--fst-A);
	font-weight: var(--fw-A);
	letter-spacing: var(--ls-E);
	line-height: var(--lh-C);
}

.noevents {
	/* Used for: hero animation, removed on complete */
	pointer-events: none;
}

/* -------------------------------------------------------------------------- */
/*                               GRID UTILITIES                               */

@mixin gridSpan($start: true, $value) {
	@if $start {
		.start#{$value} {
			grid-column-start: #{$value};
		}
	} @else {
		.end#{$value} {
			grid-column-end: #{$value};
		}
	}
}

@for $gridColStart from 1 through 9 {
	@include gridSpan(true, $gridColStart);
}

@for $gridColEnd from 5 through 13 {
	@include gridSpan(false, $gridColEnd);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		translate: 0 var(--unit-D) 0;
	}
	85% {
		translate: 0 0 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn-top {
	0% {
		margin-top: -10%;
		opacity: 0;
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}

@keyframes fadeIn-bottom {
	0% {
		margin-bottom: -10%;
		opacity: 0;
	}
	100% {
		margin-bottom: 0;
		opacity: 1;
	}
}

.visually-hidden {
	display: block;
	height: 0;
	width: 0;
	opacity: 0;
}
