:root {
	/* -------------------------------------------------------------------------- */
	/*                                    Colors                                  */
	/* -------------------------------------------------------------------------- */

	--hsl-night: 240, 10%, 20%;
	--hsl-bright: 60, 5%, 95%;

	--rgb-night: 46, 46, 56;
	--rgb-bright: 243, 243, 243;

	--rgb-accent: 20, 20, 117;

	--main-night: hsl(240, 10%, 14%);
	--night-glass: hsla(240, 10%, 20%, 0.725);
	--main-bright: hsl(9, 26%, 95%);
	--bright-glass: hsla(9, 26%, 95%, 0.725);

	/* -------------------------------------------------------------------------- */
	/*                                Type Variables                              */
	/* -------------------------------------------------------------------------- */

	/* Family */
	--primary-type: "Sharp Grotesk", Archivo, Helvetica, Arial, sans-serif;
	--primary-type-B: "Sharp Grotesk", Archivo, Helvetica, Arial, sans-serif;
	--secondary-type: "Sharp Grotesk", Archivo, Helvetica, Arial, sans-serif;
	--secondary-type-B: "Sharp Grotesk", Archivo, Helvetica, Arial, sans-serif;
	--tertiary-type: "Sharp Grotesk", Archivo, Helvetica, Arial, sans-serif;
	--tertiary-type-B: "Sharp Grotesk", Archivo, Helvetica, Arial, sans-serif;

	--ff-A: var(--primary-type);
	--ff-B: var(--primary-type);
	--ff-C: var(--secondary-type);
	--ff-D: var(--secondary-type-B);
	--ff-E: var(--secondary-type-B);
	/* Size */
	--fsz-root: clamp(1rem, calc(0.25rem + 0.792vw), calc(0.5rem + 0.723vw));
	--fsz-display: var(--fs-root);
	--fsz-A: clamp(31px, calc(1rem + 2.785vw), calc(1rem + 2.785vw));
	--fsz-B: clamp(22px, calc(1rem + 1.75vw), calc(1rem + 1.75vw));
	--fsz-C: clamp(17px, calc(0.5rem + 1.0671vw), calc(0.5rem + 1.0671vw));
	--fsz-D: var(--fs-root);
	--fsz-E: var(--fs-root);

	/* Weight */
	--fw-A: 500;
	--fw-B: 500;
	--fw-C: 400;
	--fw-D: 400;
	--fw-E: 400;

	/* Stretch */
	--fst-A: 80%;
	--fst-B: 80%;
	--fst-C: 80%;
	--fst-D: 75%;
	--fst-E: 75%;

	/* Leading */
	--lh-A: 1.25;
	--lh-B: 1.2;
	--lh-C: 1;
	--lh-D: 1;
	--lh-E: 1.5;

	/* Tracking */
	--ls-A: -0.0125em;
	--ls-B: -0.01em;
	--ls-C: -0.01em;
	--ls-D: -0.01em;
	--ls-E: 0.0105em;

	/* -------------------------------------------------------------------------- */
	/*                               Set base values                              */
	/* -------------------------------------------------------------------------- */

	--foreground-color: var(--main-night);
	--background-color: var(--main-bright);
	--fg-glass: var(--night-glass);
	--bg-glass: var(--bright-glass);
	--fg-wisp: var(--night-wisp);
	--bg-wisp: var(--bright-wisp);

	--unit-root: var(--fsz-root);
	--unit-base: calc(var(--fsz-root) * 2.5);
	--unit: calc(var(--unit-base) * 0.5);
	--unit-A: calc(var(--unit) * 6);
	--unit-B: calc(var(--unit) * 4);
	--unit-C: calc(var(--unit) * 3);
	--unit-D: var(--unit-base);
	--unit-E: var(--unit);
	--unit-F: calc(var(--unit) * 0.5);

	--border-width: 1px;
	--border-radius: var(--unit-F);

	--layout-unit: clamp(18px, calc(0.75rem + 2vw), calc(0.75rem + 2vw));
	--base-columns: repeat(12, 1fr);

	/* -------------------------------------------------------------------------- */
	/*                               Property Units                               */
	/* -------------------------------------------------------------------------- */

	--ease-curve-A: cubic-bezier(0, 1, 0, 1);
	--ease-curve-B: cubic-bezier(0, 0.75, 0.25, 1);
	--ease-curve-C: cubic-bezier(0, 0.5, 0.5, 1);
	--blur-strength: calc(var(--unit-E) * 0.25);

	--nav-zIndex: 100;
	--base-zIndex: 25; /* page content */

	--tag-correction: calc(var(--fsz-B) / 5); /* project cards */
}
