<footer class="footer stepC">
	<div class="footer-content fblock-span6">
		<div class="footer-section icon-fblock">
			<svg class="footer-svg" viewBox="0 0 83 82" xmlns="http://www.w3.org/2000/svg">
				<path d="M33.8191 67.4321C37.821 70.0526 44.901 70.0526 48.9105 67.4321" stroke-linecap="round" stroke-linejoin="round" />
				<circle cx="41.3648" cy="41.1136" r="39.18" />
				<path d="M50.0178 57.8638H69.0178" stroke-linecap="round" />
				<path d="M13.7119 57.8638H32.7119" stroke-linecap="round" />
			</svg>
		</div>
		<div class="footer-section footer-sub-section">
			<div class="footer-section link-fblock">
				<h2 class="ftr-header overline">Links</h2>
				<ul class="link-list list-wrapper">
					<li class="list-item"><a class="link" href="/#projects">Projects</a></li>
					<li class="list-item "><a class="link" href="/experiments">Experiments</a></li>
					<li class="list-item"><a class="link" href="/about">About</a></li>
				</ul>
			</div>
			<div class="footer-section extlink-fblock">
				<h2 class="ftr-header overline">Info</h2>
				<ul class="link-list list-wrapper">
					<li class="list-item"><a class="link" href="https://www.linkedin.com/in/smoyame/">LinkedIn</a></li>
					<li class="list-item"><a class="link" href="mailto:hi@smoya.me">Email</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-section attr-fblock ">
		<span class="attribution">&copy; 2025 SMOYA.ME</span>
	</div>
</footer>