<div class="footer__bar">
	{% for i in range(0, 5) %}
	<div class="marquee" {% if (i> 0) %}aria-hidden="true" {% endif %}>
		<span class="marquee__txt">DC + Bmore</span>
		<span class="marquee__txt">stay hydrated + have fun</span>
		<span class="marquee__txt">Open to more freelance opportunities or strong
			+ human-centered FT opportunities</span>
		<span class="marquee__txt">🌈✊🏼♿→²</span>
		<span class="marquee__txt">I'm updating some details for my website so pardon any of my messes!</span>
		<span class="marquee__txt">Currently taking <a href="https://eyeondesign.aiga.org/design-often-encourages-the-white-default-how-can-designers-create-more-inclusive-digital-interfaces/" target="_blank">Jacquelyn Ogorchukwu Iyamah's article about "avoiding the white default"</a> to heart</span>
		<span class="marquee__txt">Remember to check on our friends in Ukraine</span>

	</div>
	{% endfor %}
</div>