<div class="footer__bar stepC">
	{% for i in range(0, 4) %}
	<div class="marquee">
		<span class="marquee__txt">Baltimore</span>
		<span class="marquee__txt">Washington D.C.</span>
		<span class="marquee__txt">stay hydrated + have fun</span>
		<span class="marquee__txt">Looking for a mission-driven FT opportunity!</span>
		<span class="marquee__txt">🐕‍🦺🌈✊🏼♿→²</span>
		<span class="marquee__txt">but, yeah, no, really, drink some water</span>
		<span class="marquee__txt">Recently, the Illinois Department of National Resources asked branding studio Span to <a href="https://eyeondesign.aiga.org/a-design-studio-has-rebranded-carp-but-can-a-fish-be-a-brand/" target="_blank">“rebrand” a fish.</a></span>
	</div>
	{% endfor %}
</div>