---
layout: 'base.njk'
title: 'About Me | Designer | Sami Moya Medina'
---

<section class="section about__intro stepA">
	<h1 class="about__intro-heading">
		<span class="abt_name-block">
			<span class="overline name-label">First Name</span>
			<span class="level-E abt-name subtle">Samanta</span>
		</span>
		<span class="abt_name-block">
			<span class="overline name-label">Last Name</span>
			<span class="level-E abt-name subtle">Moya Medina</span>
		</span>
	</h1>
	<div class="about__intro-copy">
		{% for graf in about.pageGrafs %}
		<p class="about__graf">{{ graf }}</p>
		{% endfor %}
	</div>
</section>
<section class="section about__experience level-D stepB">
	<div class="about__exp-wrapper">
		<h2 class="exp__heading  level-C">Experience</h2>
		<ul class="exp__list">
			<li class="exp__item">
				<h3 class="exp__item-heading"><span class="exp__item-heading__org overline">Contract & Freelance Clients</span> Torres for San Mateo, PAWS Animal Shelter, MissionWired & Chapman Cubine Allen + Hussey, individual designers, independent software engineers and more.</h3>
				<p class="exp__item-dates level-E subtle">
					2021.09
					&ndash;
					Present<br>
				</p>
			</li>
			{% for exp in about.exp %}
			{% if (exp._type !== 'freelance') %}

			{% set organization = exp.company %}
			{% set subheading = exp.title %}

			<li class="exp__item">

				<h3 class="exp__item-heading"><span class="exp__item-heading__org">{{ organization }},</span> {{ subheading }}</h3>

				<p class="exp__item-dates level-E subtle">
					{{ exp.dates.start | replace("-", ".") | truncate(7, true, "") }}
					&ndash;
					{{ exp.dates.end | replace("-", ".") | truncate(7, true, "") }}<br>
				</p>
			</li>{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>