---
layout: 'base.njk'
title: 'About Me | Designer | Sami Moya Medina'
---

<section class="section about__intro stepA">
	<h1 class="about__intro-heading">
		<span class="abt_name-block">
			<span class="overline name-label subtle">First Name</span>
			<span class="level-C abt-name subtle">Samanta</span>
		</span>
		<span class="abt_name-block">
			<span class="overline name-label subtle">Last Name</span>
			<span class="level-C abt-name subtle">Moya Medina</span>
		</span>
	</h1>
	<div class="about__intro-copy">
		{% for graf in about.pageGrafs %}
		<p class="about__graf">{{ graf }}</p>
		{% endfor %}
	</div>
</section>
<section class="section about__conf stepB">
	<div class="about__conf-wrapper">
		<h2 class="about__conf-heading level-C">👀 I'm Tuned Into</h1>
			<ul class="conf__list">
				{% for resource in about.resources %}
				<li class="conf__item"><a href="{{resource.link}}" target="_blank" class="conf__card">{{resource.name}}</a></li>
				{% endfor %}
				<li class="conf__item">... and counting!</li>
			</ul>
	</div>
</section>
{# TODO Clean up templating + add to CMS schema #}
<section class="section about__experience level-D stepB">
	<div class="about__exp-wrapper">
		<h2 class="exp__heading level-C">👩‍🎨 Experience</h2>
		<ul class="exp__list">
			<li class="exp__item">

				<h3 class="exp__item-heading">Digital Design + Production&nbsp;Strategist <span class="exp__item-heading__org" title="Employer">MissionWired</span></h3>

				<p class="exp__item-dates level-E subtle">
					2023.10
					–
					Present<br>
				</p>
			</li>
			<li class="exp__item">
				<h3 class="exp__item-heading">Brand & Web Designer <span class="exp__item-heading__org" title="Employer">Independent</span></h3>
				<p class="exp__item-desc subtle">Torres for San Mateo, PAWS Animal Shelter, MissionWired & Chapman Cubine Allen + Hussey (acquired), individual designers, independent software engineers and more.</p>
				<p class="exp__item-dates level-E subtle">
					2021.09
					&ndash;
					2023.12<br>
				</p>
			</li>
			{% for exp in about.exp %}
			{% if (exp._type !== 'freelance') %}

			{% set organization = exp.company %}
			{% set subheading = exp.title %}

			<li class="exp__item">
				<h3 class="exp__item-heading">{{ subheading }} <span class="exp__item-heading__org" title="Employer">{{ organization }}</span></h3>

				<p class="exp__item-dates level-E subtle">
					{{ exp.dates.start | replace("-", ".") | truncate(7, true, "") }}
					&ndash;
					{{ exp.dates.end | replace("-", ".") | truncate(7, true, "") }}<br>
				</p>
			</li>{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>