---
title: 'Sami Moya Medina | Digital-forward Designer & Creative Developer'
layout: 'base.njk'
---

<!-- HERO -->
<section class="section main__hero noevents stepA">
	<div class="hero__wrapper">
		<h1 class="main__hero-text level-A">Digital-forward Designer &&nbsp;Creative Developer</h1>
		<p class="main__hero-caption">I activate brands with polished craft, creative code, and inclusive principles. Having fun designing, developing, and deploying digital media from scratch&mdash;like this website!</p>
	</div>
</section>
<!-- MY WORK -->
{% include "_home-projects.njk" %}