---
title: 'Designer | Sami Moya Medina'
layout: 'base.njk'
---

<!-- HERO -->
<section class="section main__hero noevents stepA">
	<div class="hero__wrapper">
		<h1 class="main__hero-text level-A">
			Design, Development, and&nbsp;Strategy.
		</h1>
		<p class="main__hero-caption">I breathe life into movements and brands online with strategic design and creative code—leaving no stone unturned. Keep giving while growing.</p>
	</div>
</section>
<!-- MY WORK -->
{% include "_home-projects.njk" %}